

@{
    ViewBag.Title = "Computer Web Shop | Brand Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headerSection {
    @Html.Partial("_LayoutProductHeader")

}
<link href="@Url.Content("~/styles/slider.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/bootstrap-slider.js")"></script>
 
<section>
    <div class="container">
        <div class="col-md-4 col-sm-4">
            <div class="seller-leftbox text-center">
                <b>€ 10</b> <input id="ex2" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]" /> <b>€ 1000</b>
            </div>
            @*<div class="seller-leftbox text-center">
                <div class="img-circlebig"> <img src="@Url.Content("~/images/brand/dell.png")" id="imgPhoto" class="img-circle m-b" alt="logo"></div>
                <div class="stats-label text-color"> <span id="spnDisplayTitle" class="font-extra-bold font-uppercase"></span></div>

                <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span>
                <p class="p-m">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text<br />

                </p>
                <p class="p-m">
                    <span id="spnDescription">
                        <br />
                        <small></small>
                    </span>
                </p>

            </div>*@



        </div>

        <div class="col-md-8 col-sm-8">
            <div class="col-md-12 col-sm-6" style="padding-bottom: 10px;"> <img src="@Url.Content("~/images/sam-small.png")" class="img-responsive"> </div>
            <div class="row product-container">
                <div onclick="@("window.location.href='" + @Url.Action("Detail", "Product") + "'");" class="col-lg-6 col-sm-8" style="cursor:pointer;">
                    <div class="hpanel">
                        <div class="panel-body no-padding poluritm">
                            <div class="entry-thumbnailsmall"> <img src="@Url.Content("~/images/pro2.png")" class="img-responsive"> </div>
                            <div class="p-sm productdetail">
                                <h4>Item Title</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div onclick="@("window.location.href='" + @Url.Action("Detail", "Product") + "'");" class="col-lg-6 col-sm-8" style="cursor:pointer;">
                    <div class="hpanel">
                        <div class="panel-body no-padding poluritm">
                            <div class="entry-thumbnailsmall"> <img src="@Url.Content("~/images/pro2.png")" class="img-responsive"> </div>
                            <div class="p-sm productdetail">
                                <h4>Item Title</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                @*<h4 class="text-success"> $1 206,40</h4>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div onclick="@("window.location.href='" + @Url.Action("Detail", "Product") + "'");" class="col-lg-6 col-sm-8" style="cursor:pointer;">
                    <div class="hpanel">
                        <div class="panel-body no-padding poluritm">
                            <div class="entry-thumbnailsmall"> <img src="@Url.Content("~/images/pro2.png")" class="img-responsive"> </div>
                            <div class="p-sm productdetail">
                                <h4>Item Title</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                @*<h4 class="text-success"> $1 206,40</h4>*@
                            </div>
                        </div>
                    </div>
                </div>

                <div onclick="@("window.location.href='" + @Url.Action("Detail", "Product") + "'");" class="col-lg-6 col-sm-8" style="cursor:pointer;">
                    <div class="hpanel">
                        <div class="panel-body no-padding poluritm">
                            <div class="entry-thumbnailsmall"> <img src="@Url.Content("~/images/pro2.png")" class="img-responsive"> </div>
                            <div class="p-sm productdetail">
                                <h4>Item Title</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                @*<h4 class="text-success"> $1 206,40</h4>*@
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        //alert("show")
        $("#ex2").slider({});

        // Without JQuery
        //var slider = new Slider('#ex2', {});
    });
</script>